<!doctype html>
<html lang="en">
<head>
    <title>忘记密码</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <!-- CSS Files -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <!-- Colors -->
    <link href="{% static "/data/assets/css/common.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "/data/assets/css/login.css" %}" rel="stylesheet" media="screen">
    <script src="{% static 'data/assets/js/md5.js' %}"></script>
    <script src="{% static 'data/assets/js/dialog.js' %}"></script>
    <link href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.css" rel="stylesheet">

    <style>
        body {
            margin: 0 !important;
            background: url({% static "data/assets/img/main_bg.jpg" %}) repeat !important;
            -moz-background-size: 100% 100% !important;
            background-size: 100% 100% !important;
        }
    </style>

</head>
<body>

    <div class="login-form">
        <div class="logo-img"><img src="{% static "data/assets/img/logo-words.png" %}" width="130"
                                   height="130"></div>
        <form class="form-header" action="/qacenter/data/forget_password/" role="form" method="POST" id="forget_form">
            <div class="form-group">
                <i class="icon iconfont">&#xe621;</i>
                <input type="text" class="form-control" id="email" name="email" placeholder="请输入邮箱">
            </div>
            <div class="login-btm-div">
                <span class="fr"><a href="/qacenter/data/login/" class="fgt-pwd-btn">去登录</a></span>
            </div>
            <div class="login-button-div">
                <input type="button" id="login" class="login-button" value="忘记密码" onclick="login_ajax('#forget_form')">
{#                <input type="button" id="login" class="login-button" value="登录">#}
            </div>
        </form>
    </div>

    <div id="td-res-dialog" class="td-res-dialog res-dialog">
        <div class="succ-icon"><i class="iconfont icon-succ">&#xe635;</i></div>
        <div id="Canvas" class="Canvas"></div>
        <div class="confirm-btn-row"><a id="J_dialog_del" class="confirm-btn btn" onclick="location.reload()">确定 (3s)</a></div>
    </div>

<!-- /.javascript files -->
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('login-form').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                email: {
                    validators: {
                        emailAddress: {
                            message: '邮箱地址格式有误'
                        }
                    }
                },
            }
        });
    });


    /*表单信息异步传输*/
    function login_ajax(id) {
            {#var data = $(id).serializeJSON();#}
            var data = {
                'email': $("input[name='email']").val()
            }
            var url;
            if (id === "#forget_form") {
                url = '/qacenter/data/forget_password/';
            }
            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (data) {
                    if (data.indexOf('密码已发送至邮箱，请查收') !== -1) {
                        myAlertSuccess('密码已发送至邮箱，请查收')
                    } else {
                        myAlertFail(data);
                    }
                },
                error: function () {
                    myAlertFail('Sorry，服务器可能开小差啦, 请重试!')
                }
            });
    }

    /*提示 弹出*/
    function myAlertSuccess(data) {
        dialog.init({
            dialogId: 'myAlert',
            msg: data,
            type: 2
        });
        var t=setTimeout(next,1000);
        function next()
        {
            dialog.hide();
            window.location.href = '/qacenter/data/login/';
        }
    }


    /*提示 弹出*/
    function myAlertFail(data) {
        dialog.init({
            dialogId: 'myAlert',
            msg: data,
            type: 4
        });
        var t=setTimeout(next,2000);
        function next()
        {
            dialog.hide();
            window.location.reload();
        }
    }
</script>

</body>
</html>