{% extends "data/base.html" %}
{% block title %}修改密码{% endblock %}
{% load staticfiles %}
{% block content %}
    <link rel="stylesheet" href="{% static 'data/assets/css/reset_password.css' %}">
    <script src="{% static 'data/assets/js/md5.js' %}"></script>
    <script src="{% static 'data/assets/js/dialog.js' %}"></script>

    <div class="crumb">
        <span>用户信息>修改密码</span>
    </div>

    <div class="add_content">
        <form class="form-header" role="form" id="reset_password">

            <div>
                <input type="text" class="form-control hidden" id="username" name="username" placeholder="请输入用户名" value={{ account }}>
            </div>
            <div>
                <label class="form-label">*旧密码:</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="old_password" name="old_password" placeholder="请输入老密码" value="">
                </div>
            </div>

            <div>
                <label class="form-label">*新密码:</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="new_password" name="new_password" placeholder="请输入新密码" value=""/>
                </div>
            </div>

            <div>
                <label class="form-label">*确认密码:</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="repassword" name="repassword" placeholder="请输入新密码" value=""/>
                </div>
            </div>
            <div class="add-button-div">
                <input type="button" id="add" class="add-button" value="保存" onclick="add_ajax('#reset_password')">
            </div>
        </form>
    </div>

<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<link href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('form').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                old_password: {
                    validators: {
                        stringLength: {
                            min: 6,
                            max: 18,
                            message: '密码长度必须在6到18位之间'
                        }
                    }
                },
                new_password: {
                    validators: {
                        stringLength: {
                            min: 6,
                            max: 18,
                            message: '密码长度必须在6到18位之间'
                        }
                    }
                },
                repassword: {
                    message: '密码无效',
                    validators: {
                        identical: {//相同
                            field: 'password',
                            message: '两次密码不一致'
                        },
                    }
                }
            }
        });
    });

</script>


<script type="text/javascript">
            /*表单信息异步传输*/
    function add_ajax(id) {
        if ($(id).data('bootstrapValidator').isValid()) {
            {#var data = $(id).serializeJSON();#}
            var data = {
                'username': $("input[name='username']").val(),
                'old_password': hex_md5($("input[name='old_password']").val()),
                'new_password': hex_md5($("input[name='new_password']").val())
            }
            var url;
            if (id === "#reset_password") {
                url = '/qacenter/data/reset_password/';
            }
            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (data) {
                    if (data.indexOf('密码修改成功') !== -1) {
                        window.location.href = '/qacenter/data/login/';
                    } else {
                        myAlertFail(data);
                    }
                },
                error: function () {
                    myAlertFail('Sorry，服务器可能开小差啦, 请重试!')
                }
            });
        }
    }


    /*提示 弹出*/
    function myAlertFail(data) {
        dialog.init({
            dialogId: 'myAlert',
            msg: data,
            type: 4
        });
        var t=setTimeout(next,2000);
        function next()
        {
            dialog.hide();
            window.location.reload();
        }
    }
</script>


{% endblock %}